# dependencies
node_modules/
.pnpm/
.pnp/
.pnp.js

# production
dist/
build/

# misc
.DS_Store
.env
.env.local
.env.*.local
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
*.log
*.tgz
.cache/
*.local

# Vite cache
.vite/
